@model webShop.core.ViewsModels.BasketSummaryViewModel

<ul class="nav navbar-nav navbar-right">

    <li><a href="@Url.Action("Index", "Basket")">@Model.BasketCount </a></li>
    <li><a href="@Url.Action("Index", "Basket")">@String.Format("{0:c}", Model.BasktetTotal)</a></li>
</ul>
